export(cv.glmnet.pvInd)
export(gps.pvCont)
export(gps.pvInd)
export(gps)
export(nADR.pvCont)
export(nADR.pvInd)
export(nADR)
export(pvIndResize)
export(pvPen.pvInd)
export(pvPen)
exportClasses(pvCont)
exportClasses(pvInd)
exportMethods("$")
exportMethods("$<-")
exportMethods(getAe)
exportMethods(getAeMargin)
exportMethods(getCov)
exportMethods(getDrug)
exportMethods(getDrugMargin)
exportMethods(pvCont)
exportMethods(pvInd)
import(glmnet)
import(LBE)
import(Matrix)
import(methods)
